body{
    background: url('img/home1.png');
    /* background-repeat: cover; */
    font-family: 'Krub', sans-serif;
    margin: 0;
}

header{
    margin-top: 20px;
}

header img{
    width: 220px;
    margin-left: 5%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    display: inline;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}